<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome" version="4.4.0" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="0.1.4.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>